h1{
    color:orange;
    text-align:center;
}
h4{
    color:white;
    font-family:arial;
  line-height:1px;
  font-size: large;
}

form{
    margin:auto;
    background-color:blue;
    width: 15%;
    padding: 15px;
}

p{
    color:black;
    font-family:arial;
    text-decoration:none;
    text-align: center;
    font-size: large;
}

input[type=text], input[type=password]{
  width: 90%;
  height: 20px;
  border-radius: 5px;
}

input[type=text]:focus, input[type=password]:focus {
  border: 3px solid #555;
}

input[type=button], input[type=submit], input[type=reset] {
  background-color: orange;
  border: none;
  color: white;
  padding: 10px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  font-size: large;
}
a.visited{
    color: black;
    text-decoration: underline;
}
.entrar {
color: black; 
text-decoration: underline;
}
a.entrar{
color: white; /* cor do texto do botão */
text-decoration:none;
outline:none;
-moz-border-radius:5px; /* valor do arredondamento das pontas do botão */
-webkit-border-radius:5px; /* valor do arredondamento das pontas do botão */
}

.entrar {
margin-left:0px;
}
a.entrar:link {
color: white; /* cor do texto do botão */
background: blue; /* cor de fundo alternativo , aparecerá nos navegadores que não aceitam CSS3 */
text-decoration:none;
padding: 10px 32px;;
outline:none;
-moz-border-radius:5px; /* valor do arredondamento das pontas do botão */
-webkit-border-radius:5px; /* valor do arredondamento das pontas do botão */



-goog-ms-border-radius:5px; /* valor do arredondamento das pontas do botão */
border-radius:5px; /* valor do arredondamento das pontas do botão */
}
html, body{
background-image: url(/minimalist-desktop-37.jpg);
}